/.vs/FlappyBird/v16
/Debug
/FlappyBird/Debug
/FlappyBird/Release
/FlappyBird/sfml-window-d-2.dll
/FlappyBird/sfml-window-2.dll
/FlappyBird/sfml-system-d-2.dll
/FlappyBird/sfml-system-2.dll
/FlappyBird/sfml-network-d-2.dll
/FlappyBird/sfml-network-2.dll
/FlappyBird/sfml-graphics-d-2.dll
/FlappyBird/sfml-graphics-2.dll
/FlappyBird/sfml-audio-d-2.dll
/FlappyBird/sfml-audio-2.dll
/FlappyBird/openal32.dll
/FlappyBird/FlappyBird.vcxproj.user
/FlappyBird/FlappyBird.vcxproj.filters
/FlappyBird/FlappyBird.vcxproj
/Release
